In [1]:
%load_ext autoreload
%autoreload 2

import os
import warnings

warnings.filterwarnings("ignore")
os.chdir("../")

In [2]:
import pandas as pd
from analysis import (
    calculate_profits,
    format_trades_df,
    get_top_collections,
    get_trade_count,
)

In [3]:
nft_trades = (
    pd.read_csv("historic_data/trades.csv", low_memory=False)
    .pipe(format_trades_df)
    .pipe(get_trade_count)
)

In [5]:
nft_trades.head()

                                  date  price_eth  price_usd         NFT  \
nft_id         trade_count
0xmons.xyz_103 1            2021-03-14       6.00   11092.14  0xmons.xyz
               2            2021-08-01       5.00   12782.05  0xmons.xyz
0xmons.xyz_118 1            2021-04-01       7.99   15721.68  0xmons.xyz
               2            2021-12-04      12.00   49491.12  0xmons.xyz
0xmons.xyz_126 1            2021-03-11       5.55   10140.18  0xmons.xyz

                                                                 Buyer
nft_id         trade_count
0xmons.xyz_103 1            0xfaf1031b02a994b80f12cc1ee4c0dcebbb946aa0
               2            0x73ffce54ce7d21397a7932d9bc2a7e013ff30902
0xmons.xyz_118 1            0x2117c37a65ad3c0489682386f7d81d4c6d08b3c8
               2            0x947e1bbcbf8a67a9f7a393adf93179baaf0cccdc
0xmons.xyz_126 1            0xfaf1031b02a994b80f12cc1ee4c0dcebbb946aa0

In [9]:
get_top_collections(nft_trades)

                             price_usd
NFT
BoredApeYachtClub         $967,988,903
Karafuru                   $82,956,044
Phanta Bear                $50,378,539
Cold Blooded Creepz        $45,106,466
Sneaky Vampire Syndicate   $41,741,858